<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#EasyMoney---Data" data-toc-modified-id="EasyMoney---Data-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>EasyMoney - Data</a></span></li><li><span><a href="#Librerías" data-toc-modified-id="Librerías-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Librerías</a></span></li><li><span><a href="#Cargar-datos" data-toc-modified-id="Cargar-datos-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Cargar datos</a></span></li><li><span><a href="#Análisis" data-toc-modified-id="Análisis-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Análisis</a></span><ul class="toc-item"><li><span><a href="#Valores-nulos" data-toc-modified-id="Valores-nulos-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Valores nulos</a></span></li></ul></li></ul></div>

<center><span style="background-color: rgb(251, 160, 38); font-size: 32px;">  <b>NUCLIO DIGITAL SCHOOL -</b> MASTER EN DATA SCIENCE  </span></center>
    
<br>
    
<center><a href = https://nuclio.school/wp-content/uploads/2019/10/nucleoDS-newBlack.png > <img src="https://nuclio.school/wp-content/uploads/2019/10/nucleoDS-newBlack.png" width=400 height=100><a/></center>
    
<hr style="height:5px;border-width:0;color:orange;background-color:orange">
<center> <span style="font-size: 26px;">  <b>Proyecto Final de Máster - EasyMoney </span> </center>

+ Sesion: **Análisis de datos**
+ Bloque: **Trabajo Fin de Máster**
+ Curso: **Data Science Madrid 0521**
+ Alumno 1: **Sergio Masa Avís**
+ Alumno 2: **María Andreu**

<br>

<hr style="height:5px;border-width:0;color:orange;background-color:orange">

## EasyMoney - Data


En el directorio data/ se encuentran tres fuentes de información almacenadas en formato csv:
- products_df
- sociodemographic_df
- commercial_activity

A continuación, se muestra la descripción proporcionada de los datos proporcionada por el Director de IT de EasyMoney

<img src="img/data_description.png" width="800" height="400">

<hr style="height:5px;border-width:0;color:orange;background-color:orange">

## Librerías

In [2]:
import numpy as np 
import pandas as pd

# Visualización
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import seaborn as sns
import plotly.express as px
from plotly.offline import init_notebook_mode, iplot
import warnings
from IPython.display import Image

# Parámetros de visualización
init_notebook_mode(connected=True)  
warnings.filterwarnings("ignore")
pd.options.display.float_format = '{:,.3f}'.format

<hr style="height:5px;border-width:0;color:orange;background-color:orange">

## Cargar datos

__Descripción de variables del dataset.__


| Variable | Descripción |
| --- | --- |
| pk_cid | Identificador de cliente |
| pk_partition | Fecha de ingesta de los datos |
| country_id | País de residencia del cliente |
| region_code | Provincia de residencia del cliente |
| gender | Sexo del cliente |
| age | Edad del cliente |
| deceased | ¿Cliente fallecido (N/S)? |
| salary | Ingresos brutos de la unidad familiar |

In [12]:
df_sociodemographic = pd.read_csv('data/sociodemographic_df.csv', sep=',', encoding='utf-8-sig')
df_sociodemographic.drop('Unnamed: 0', axis=1, inplace=True)

# Añadir formato adeacuado a las columnas
df_sociodemographic['pk_partition'] = pd.to_datetime(df_sociodemographic['pk_partition'], format='%Y-%m-%d')
df_sociodemographic['pk_cid'] = df_sociodemographic['pk_cid'].apply(str)
df_sociodemographic['region_code'] = df_sociodemographic.region_code.apply(str)

In [7]:
print('Tamaño del dataset:',end=2*'\n')
print(f'Samples: {df_sociodemographic.shape[0]}')
print(f'Features: {df_sociodemographic.shape[1]}')

Tamaño del dataset:

Samples: 5962924
Features: 8

In [8]:
sorted(df_sociodemographic.columns.to_list())

['age',
 'country_id',
 'deceased',
 'gender',
 'pk_cid',
 'pk_partition',
 'region_code',
 'salary']

In [10]:
df_sociodemographic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5962924 entries, 0 to 5962923
Data columns (total 8 columns):
 #   Column        Dtype
---  ------        -----
 0   pk_cid        object
 1   pk_partition  datetime64[ns]
 2   country_id    object
 3   region_code   float64
 4   gender        object
 5   age           int64
 6   deceased      object
 7   salary        float64
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 363.9+ MB

In [11]:
df_sociodemographic.sample(10)

,pk_cid,pk_partition,country_id,region_code,gender,age,deceased,salary
1455076,1209562,2018-06-28,ES,34.000,H,31,N,"52,274.820"
4528315,1024601,2019-02-28,ES,30.000,H,24,N,"64,261.230"
2710433,1047861,2018-10-28,ES,8.000,H,24,N,"57,823.830"
2087734,1203381,2018-08-28,ES,46.000,H,22,N,"62,535.330"
4870668,1337795,2019-03-28,ES,30.000,V,22,N,"64,560.900"
361650,1277934,2018-02-28,ES,16.000,H,21,N,"111,001.500"
4757786,1488226,2019-03-28,ES,10.000,V,23,N,NaN
3189480,1385524,2018-11-28,ES,29.000,V,20,N,"68,482.890"
2495639,1444010,2018-09-28,ES,28.000,H,91,N,"169,157.700"
1886798,1251852,2018-08-28,ES,30.000,V,45,N,"69,002.040"

<hr style="height:5px;border-width:0;color:orange;background-color:orange">

## Análisis

### Valores nulos

In [13]:
print('Valores nulos:', df_sociodemographic.isna().any(), sep=2*'\n')

Valores nulos:

pk_cid          False
pk_partition    False
country_id      False
region_code     False
gender           True
age             False
deceased        False
salary           True
dtype: bool

In [15]:
def print_sum_nan(df):
    n_samples = df.shape[0]
    print('NaN Cumulative sum on dataset:', sep=2*'\n')
    for col_name in df.columns:
        nan_values = (df[col_name].isna().sum()/n_samples)*100
        print('{} --> {:.6f}%'.format(col_name, nan_values))
        
print_sum_nan(df_sociodemographic)

NaN Cumulative sum on dataset:
pk_cid --> 0.000000%
pk_partition --> 0.000000%
country_id --> 0.000000%
region_code --> 0.000000%
gender --> 0.000419%
age --> 0.000000%
deceased --> 0.000000%
salary --> 25.358415%

In [30]:
df = pd.DataFrame(df_sociodemographic['age'].value_counts()).reset_index()
df.columns = ['age', 'counts']
df = df.sort_values('counts', ascending=False).reset_index(drop=True)

In [31]:
pd.options.display.max_rows=104
df

     age  counts
0     22  727134
1     23  702127
2     21  667762
3     20  413568
4     24  408569
5     25  305028
6     26  237454
7     27  186277
8     28  156142
9     29  134814
10    30  121856
11    31  107373
12    32  103206
13    33   99041
14    34   94026
15    35   90366
16    36   87528
17    37   83133
18    39   78805
19    38   78510
20    40   75021
21    41   71271
22    42   66056
23    43   59418
24    44   54804
25    45   50980
26    46   46566
27    47   44665
28    48   41342
29    49   39766
30    50   38463
31    51   34482
32    52   32664
33    53   30827
34    54   28117
35    55   24372
36    56   22997
37    57   22059
38    58   20376
39    59   18940
40    60   17943
41    61   16068
42    62   15604
43    63   13235
44    19   12203
45    64   11989
46    65   11301
47    66   10076
48    67    9514
49    68    9175
50    69    8774
51    70    7440
52    71    6285
53    73    6256
54    72    6200
55    74    5191
56    77    4542
57    76    4431
58    75    4208
59    81    3511
60    78    3184
61     6    3043
62    82    3019
63    79    2992
64    84    2924
65     5    2920
66    80    2875
67    83    2684
68    85    2656
69    12    2638
70    86    2566
71    13    2557
72     9    2470
73    14    2465
74    15    2370
75    87    2346
76    11    2254
77    10    2247
78     8    2216
79     4    2210
80     7    2191
81    16    2159
82    17    1911
83    88    1870
84    18    1843
85    89    1720
86    90    1565
87     3    1534
88    91    1188
89    92     890
90     2     688
91    93     615
92    94     542
93    95     484
94    96     346
95    97     300
96    98     184
97   100     112
98    99      94
99   101      91
100  102      65
101  103      25
102  104      12
103  105       8